* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto Mono", monospace;
    background-color: #585e60;
}

h1,
h3 {
    text-align: center;
}

p {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.counter {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}
.display-container {
    width: 100%;
    padding-bottom: 2rem;
}
.timer {
    text-align: center;
    font-size: 12em;
    transform: scaleY(1.5);
    margin: 5% 0;
    padding-top: 5%;
}

.sessionCounter {
    text-align: center;
    color: #ffc278;
    font-size: 2em;
    padding: 0.5em 0;
}

.ctrlBtn {
    text-align: center;
}

.setModul {
    background-color: #6a7072;
    display: flex;
}

.modul {
    width: 40%;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    text-align: center;
}

.nbr,
.timer {
    font-weight: 500;
}

.btn,
.nbr {
    padding: 0.3em;
}

.btn {
    color: #a9def9;
}

.rstBtn {
    font-size: 2em;
}

.playBtn {
    font-size: 6em;
}

.closeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
}

.restartSession {
    margin-top: 1em;
    font-size: 0.8em;
    color: #fff;
    background-color: #a9def9;
    border-radius: 9999px;
    line-height: 2;
}
.controller {
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.session {
    color: #ffc278;
}
.worktime {
    color: #ef6461;
}
.breaktime {
    color: #aff69b;
}

@media screen and (max-width: 1024px) {
    .counter {
        width: 100vw;
    }
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 1rem;
    }
    .timer {
        font-size: 6em;
        padding-top: 1rem;
        margin-bottom: 2rem;
    }

    .restartSession {
        font-size: 1rem;
    }

    .btn,
    .nbr {
        padding: 0.1em;
    }
}

@media screen and (max-width: 360px) {
    .modul {
        font-size: 0.8em;
    }
}

@media screen and (max-height: 600px) {
    .timer {
        padding-top: 0;
    }
}
